.topbody {
  padding-top: 160px;
  position: relative;
  background-color: #e8ffff;
}
body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", sans-serif;
  font-family: "Fredericka the Great", cursive;
  color: #40514e;
}
h1 {
  color: #66bfbf;
  line-height: 2;
  font-family: "Sacramento", cursive;
  margin: 0 auto 0 auto;
  font-size: 450.5%;
  font-family: "Open Sans", sans-serif;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #66bfbf;
  font-family: "Josefin Slab", serif;
  padding-bottom: 10px;
}
h3 {
  font-family: "Oswald", sans-serif;
  color: #11999e;
}
.bottom-line {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 5%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.mypic {
  margin: 100px auto 10px auto;
  width: 10%;
}
.midbody {
  background-color: #bbbfca;
  padding: 20px;
  margin: 20px;
  width: 200px;
}
.middle-container {
  background-color: white;
  background-image: linear-gradient(-180deg, #e8ffff, white);
  position: relative;
}
.bottombody {
  background-color: red;
  padding: 20px;
  margin: 20px;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.bottomcloud {
  position: absolute;
  margin-top: 0;
}
.topcloud {
  position: absolute;
  right: 670px;
  top: 85px;
}
.skill-row {
  width: 50%;
  margin: auto;
  text-align: left;
  line-height: 2;
  margin-top: 100px;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skill-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.intro {
  width: 40%;
  margin: auto;
}
.p {
  line-height: 2;
}
.contact-message {
  width: 40%;
  margin: 60px auto 100px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  position: absolute;
  margin: -58px -6%;
}

.btn:hover {
  background: #11999e;
  background-image: -webkit-linear-gradient(top, #11999e, #77b2e0);
  background-image: -moz-linear-gradient(top, #11999e, #77b2e0);
  background-image: -ms-linear-gradient(top, #11999e, #77b2e0);
  background-image: -o-linear-gradient(top, #11999e, #77b2e0);
  background-image: linear-gradient(to bottom, #11999e, #77b2e0);
  text-decoration: none;
}
.footer-link {
  color: #11999e;
  font-family: "Merriweather", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}
.copy-right-message {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
a:link {
  text-decoration: none;
}
------------menu---------

@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:800,900");
html, body {
  height: 100%;
}

body {

  font-family: "Merriweather", sans-serif;
  font-family: "Fredericka the Great", cursive;
}

nav {
  display: block;
  position: fixed;
  width: 600px;
  height: 600px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transform: translate3d(25px, -25px, 0);
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
}
nav.open {
  transform: translate3d(0, 0, 0);
}
nav.top-right {
  top: -110px;
  right: 25px;
  position: absolute;

}

.disc {
  position: absolute;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font: 25px Alegreya Sans, sans-serif;
  line-height: 40px;
  padding-top: 10px;
  border-radius: 300px;
  transform: scale3d(0.5, 0.5, 0.5) rotate3d(0, 0, 1, 190deg);
  pointer-events: none;
  opacity: 0;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), opacity 0.5s;
}
.disc div {
 
  transform: rotate(180deg);
  color:rgb(76, 159, 173);
  
}

.open .disc {
  pointer-events: auto;
  opacity: 1;
}

.l1 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: tomato;
  transition-delay: 0s;
}
.open .l1 {
  transition-delay: 0s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l1:hover {
  background: shade(tomato, 90%);
  color: tomato;
  transition-delay: 0s;
}
.open .l1:active {
  background: shade(tomato, 50%);
  color: tomato;
}
.open .l1.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l2 {
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  background: #ff763b;
  transition-delay: 0.0833333333s;
}
.open .l2 {
  transition-delay: 0.0833333333s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l2:hover {
  background: shade(#ff763b, 90%);
  color: #ff763b;
  transition-delay: 0s;
}
.open .l2:active {
  background: shade(#ff763b, 50%);
  color: #ff763b;
}
.open .l2.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l3 {
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  background: #ff8a2f;
  transition-delay: 0.1666666667s;
}
.open .l3 {
  transition-delay: 0.1666666667s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l3:hover {
  background: shade(#ff8a2f, 90%);
  color: #ff8a2f;
  transition-delay: 0s;
}
.open .l3:active {
  background: shade(#ff8a2f, 50%);
  color: #ff8a2f;
}
.open .l3.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l4 {
  top: 150px;
  left: 150px;
  right: 150px;
  bottom: 150px;
  background: #ff9d24;
  transition-delay: 0.25s;
}
.open .l4 {
  transition-delay: 0.25s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l4:hover {
  background: shade(#ff9d24, 90%);
  color: #ff9d24;
  transition-delay: 0s;
}
.open .l4:active {
  background: shade(#ff9d24, 50%);
  color: #ff9d24;
}
.open .l4.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l5 {
  top: 200px;
  left: 200px;
  right: 200px;
  bottom: 200px;
  background: #ffb018;
  transition-delay: 0.3333333333s;
}
.open .l5 {
  transition-delay: 0.3333333333s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l5:hover {
  background: shade(#ffb018, 90%);
  color: #ffb018;
  transition-delay: 0s;
}
.open .l5:active {
  background: shade(#ffb018, 50%);
  color: #ffb018;
}
.open .l5.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l6 {
  top: 250px;
  left: 250px;
  right: 250px;
  bottom: 250px;
  background: #ffc40c;
  transition-delay: 0.4166666667s;
  color: #ffffff;
}
.open .l6 {
  transition-delay: 0.4166666667s;
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l6:hover {
  background: shade(#ffc40c, 90%);
  color: #ffc40c;
  transition-delay: 0s;
}
.open .l6:active {
  background: shade(#ffc40c, 50%);
  color: #ffc40c;
}
.open .l6.toggle {
  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.toggle {
  line-height: 100px;
  padding: 0;
  width: 100px;
  background: gold;
  opacity: 1;
  transform: none;
  pointer-events: auto;
  transition-delay: 0s;
}
.open .toggle {
  transform: rotate3d(0, 0, 1, 0deg);
}
.toggle:hover {
  background: shade(gold, 90%);
  text-decoration: underline;
}
.toggle:active {
  background: shade(gold, 50%);
  color: rgba(255, 215, 0, 0.5);
  transform: scale(0.9);
  transition-duration: 0s;
}

.open .disc{
  color:rgb(76, 159, 173);
  font-size: smaller;
  

}
